.main-content{
	width:90%;
	margin: 15px auto 0;
}

hr {
	color: #af7e55;
}

.tag{
	width: 6em;
	padding-left: 3px;
	margin-right: 5px;
}

.tag_entry{
	float: left;
}

.tag_filter{
	display: inline-block;
}

.back {
	text-align: right;
}

.md-sidenav-content {
	max-width: 60% !important;
}

/* Prevent scroll horizontally to view menu when it's not loaded */
#app{
	overflow-x: hidden;
	position:relative;
	height:100vh;
}

/* Make image button 100% visible */
.md-button{
	overflow: visible;
}