.main-content{
	width:90%;
	margin: 15px auto 0;
}

hr {
	color: #af7e55;
}

.tag{
	width: 6em;
	padding-left: 3px;
	margin-right: 5px;
}

.tag_entry{
	float: left;
}

.tag_filter{
	display: inline-block;
}

.back {
	text-align: right;
}