.main-content{
	width:90%;
	margin: 15px auto 0;
}

.entry {
	overflow:auto;
	clear: both;
	border-bottom: solid #af7e55 thin;
	padding: 5px 0;
}

.tag{
	width: 8em;
	margin-right: 5px;
	border-radius: 10px;
	padding: 5px 10px;
}

.tag_entry{
	float: left;
	height: 2em;
	width: 2em;
	border-radius: 25px;
}

.back {
	text-align: right;
}

.md-sidenav-content {
	max-width: 70% !important;
}

/* Prevent scroll horizontally to view menu when it's not loaded */
#app{
	overflow-x: hidden;
	position:relative;
	height:100vh;
}

/* Make image button 100% visible */
.md-button{
	overflow: visible;
	vertical-align: middle;
}

/* To see tag background with normal height */ 
.md-switch .md-switch-label {
	line-height: normal;
}

.md-dialog-content p {
	margin-bottom: 1em;
}